.update-icon, .delete-icon {
  cursor: pointer; /* Make the icons look clickable */
  margin-left: 10px; /* Add some spacing between the icons and the song information */
  color: #007BFF; /* Color for the Update icon */
}

.delete-icon {
  color: #FF0000; /* Color for the Delete icon */
}

/* CSS for the star icons (You can customize this as well) */
.star-filled {
  color: yellow;
}

.star-empty {
  color: gray;
}

/* CSS for the RatingsTable container */
.RatingsTable {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}  